<div class="container">

    <div class="container-head">
        <%= image_tag("boggle.png", :alt => "boggle logo") %>
    </div>
    <div class="container-body">
        <h3>Welcome to Boggle API</h3>
        <div class="content-info">
            
            <p>
                <a href = "https://en.wikipedia.org/wiki/Boggle"
            target = "_blank˚" > Boggle </a> is a word game invented by Allan Turoff and originally distributed by Parker Brothers.
             The game is played using a plastic grid of lettered dice, in which players attempt to find words 
             in sequences of adjacent letters.</p>
             
        </div>

        <div class="api-list">
            <p>Here are the list of APIs provided.</p>
            <table class="table">
                <thead class="thead-dark text-capitalize">
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col"> api url </th>
                    <th scope="col"> description </th>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</td>
                        <td>index</td>
                        <td><strong>/api/v1</strong></td>
                        <td>provides welcome message with the api version</td>
                    </tr>
                    <tr>
                        <th scope="row">2</td>
                        <td>init board</td>
                        <td><strong>/api/v1/initboard?type={board_type}</strong></td>
                        <td> param: board_data (defines the type of board user wants to play. for 4*4 board, board_type: 4) <br/> 
                             sample request: <strong>/api/v1/initboard?type=4 </strong><br/>
                             sample response: <strong>{"message":"GAME_INITIATED","success":true,"data":{"board_data":"aexhsrrieciicttn"}}</strong>

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</td>
                        <td>process word</td>
                        <td><strong>/api/v1/processword?word={word}</strong></td>
                        <td> param: word (defines the word user submit to evaluate points<br/> 
                             sample request 1: <strong>/api/v1/processword?word=boggle </strong><br/>
                             sample response 1: <strong>{"message":"MSG_EVALUATION_SUCCESS","success":true,"data":{"is_correct":true,"score":4}}</strong> <br/>
                             sample request 2: <strong>/api/v1/processword?word=asdfg </strong> <br/>
                             sample response 2: <strong>{"message":"MSG_EVALUATION_SUCCESS","success":true,"data":{"is_correct":false,"score":0}} </strong>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
       
    </div>

     <div content-footer>
            <p class="font-weight-normal h4">Implement these apis and have fun playing Boggle :)</p>
        </div>
    
</div>

