<div class="container">
    <div class="container-head">
        <%= image_tag("boggle.png", :alt => "boggle logo") %>
    </div>
    <div class="container-body">
        <h3>Welcome to Boggle API</h3>
        <div class="content-info">
            <p>
                This API provides functionalities to smoothly operate a Boggle game.
            </p>
            <p>
                <a href = "https://en.wikipedia.org/wiki/Boggle"
            target = "_blank˚" > Boggle </a> is a word game invented by Allan Turoff and originally distributed by Parker Brothers.
             The game is played using a plastic grid of lettered dice, in which players attempt to find words 
             in sequences of adjacent letters.</p>
             
        </div>

        <div class="api-list">
            <p>Here are the list of APIs provided.</p>
            <table>
                <thead>
                    <th>#</th>
                    <th>name</th>
                    <th> api url </th>
                    <th> description </th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>index</td>
                        <td>/api/v1</td>
                        <td>provides welcome message with the api version</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>init board</td>
                        <td>/api/v1/initboard?type={board_type}</td>
                        <td> param: board_data (defines the type of board user wants to play. for 4*4 board, board_type: 4) <br/> 
                             sample request: /api/v1/initboard?type=4 <br/>
                             sample response: {"message":"GAME_INITIATED","success":true,"data":{"board_data":"aexhsrrieciicttn"}}

                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>process word</td>
                        <td>/api/v1/processword?word={word}</td>
                        <td> param: word (defines the word user submit to evaluate points<br/> 
                             sample request 1: /api/v1/processword?word=boggle <br/>
                             sample response 1: {"message":"MSG_EVALUATION_SUCCESS","success":true,"data":{"is_correct":true,"score":4}} <br/>
                             sample request 2: /api/v1/processword?word=asdfg <br/>
                             sample response 2: {"message":"MSG_EVALUATION_SUCCESS","success":true,"data":{"is_correct":false,"score":0}} 

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div content-footer>
            <p>Implement these apis and have fun playing Boggle</p>
        </div>
    </div>
    
</div>
